/* Variables */

$blue: #4285f4;
$white: #fff;
$black: #000;
$gray: #ccc;
$button-width: 160px;

/* Buttons */
.paper-button {
    position: relative;
    padding: 4px 0;
	height: 30px; 
	margin-top: 2px;
	margin-bottom: 2px;
    margin: 1em;
    width: $button-width;
    overflow: hidden;
    user-select: none;
    color: $black;
    text-transform: uppercase;
    border-radius: 3px;
    outline-color: $gray;
  
    &:hover {
        cursor: pointer;
    }

    /*.ripple {
        position: absolute;
        width: $button-width * 2;
        height: $button-width * 2;
        background-color: rgba($gray, 0.5);
        left: 0;
        top: 0;
        border-radius: 50%;
        margin-left: - $button-width;
        margin-top: - $button-width;
        transform: scaleX(0) scaleY(0);
        z-index: 9000;
    }*/
}

.paper-button button, .paper-button input[type="submit"] {
  background: inherit;
  border: none;
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 1em;
  color: $black;
  text-transform: uppercase;
}

.paper-button.colored, .paper-button.colored button {
  color: $blue;
}

.paper-button .ripple {
  background-color: rgba($gray, 0.5);
}

.paper-button.raised-button.colored .ripple {
  background-color: rgba($white, 0.5);
}

.paper-button.raised-button .ripple {
  background-color: rgba($gray, 0.5);
}

.paper-button.raised-button.colored {
   background-color: $blue;
}

.paper-button .raised-button{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-button.raised-button.colored{
  background: #4285f4;
  color: #fff;
}

.paper-button[disabled] {
    background-color: #EAEAEA !important;
    color: #A8A8A8 !important;
    cursor: auto;
}

.paper-button:hover{
  background-color: #EAEAEA !important;
}
.paper-button.raised-button.colored:hover{
  background-color: #3367d6 !important;
}

button.paper-button {
  border:0;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 1em;
  line-height: 25px;
  background-color: $white;
}

.paper-button input[type="submit"] {
  outline-color: $gray;  
}

.paper-button.colored.raised-button input[type="submit"] {
  color: $white;
} 

/** Shadows **/
.paper-shadow-animated.paper-shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-shadow-top-z-2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.paper-shadow-top-z-3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.paper-shadow-top-z-4 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.paper-shadow-bottom-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

.paper-shadow-top-z-5 {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.paper-shadow-bottom-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}


/* Search box styles */

.search {
  width: 50%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  /*height: 20px;*/
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.search-wrap{
  width: 60%;
  left: 30%;
  text-align-last: center;
  margin-left: 20%;
  /*position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);*/
}

/*  CARD - CSS classes*/

.card {
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  margin: 10px;
  position: relative;
  margin-bottom: 50px;
  transition: all .2s ease-in-out;
}

.card:hover {
  /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 54px;
}

.image {
  height: 150px;
  opacity: .7;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.image:hover,
.card:hover .image {
  height: 150px;
  opacity: 1;
}

.text {
  background: #FFF;
  padding: 20px;
  min-height: 100px;
}

.text p {
  margin-bottom: 0px;
}

.fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  margin-top: -50px;
  left: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #0066A2;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.fab:hover {
  background: #549D3C;
  cursor: pointer;
  -ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}